body {
  font-family: Montserrat, Roboto, sans-serif;
  margin: 0; }

header {
  text-align: center;
  margin: 80px 0 60px; }

section:not(.fluid) {
  max-width: 560px; }

section {
  margin: 30px auto 70px; }

img {
  max-width: 100%; }

h2 {
  text-align: center;
  margin-bottom: 20px; }

h3 {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #3D3D3D; }

p {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #3D3D3D; }

footer {
  padding: 12px;
  text-align: center;
  background: #3D3D3D;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF; }

.avatar {
  width: 278px;
  height: 278px;
  background: #C4C4C4;
  border-radius: 20px;
  object-fit: cover;
  margin-bottom: 28px; }

.user-name {
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 34px;
  color: #3D3D3D;
  margin-bottom: 5px; }

.user-position {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #3D3D3D; }

.contacts {
  max-width: 250px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #3D3D3D; }
  .contacts span {
    margin-bottom: 5px; }

.technologies {
  display: flex;
  justify-content: center;
  margin-bottom: 60px; }
  .technologies span {
    padding: 4px 16px;
    text-align: center;
    height: 28px;
    background: #3D3D3D;
    border-radius: 5px;
    color: #fff;
    margin: 0 15px; }

.works {
  margin-bottom: 40px;
  display: flex;
  justify-content: center; }
  .works > div {
    width: 250px;
    margin: 0 25px; }
  .works img {
    width: 250px;
    height: 180px;
    background: #C4C4C4;
    border-radius: 10px 10px 0 0;
    object-fit: cover; }
  .works h3 {
    margin: 15px 0 20px; }

.links {
  display: flex;
  justify-content: space-between; }
  .links a {
    color: #3d3d3d;
    text-decoration: none;
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 21px; }

.socials {
  display: flex;
  justify-content: center;
  margin-top: 40px; }
  .socials > * {
    margin: 0 15px;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    color: rgba(0, 0, 0, 0.9); }

.list-card {
  display: grid;
  grid-template-areas: "image name date" "image description date";
  grid-template-columns: 90px 1fr 70px;
  margin-bottom: 30px; }
  .list-card img {
    grid-area: image;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    object-fit: contain;
    border: 4px solid #00000012; }
  .list-card h4 {
    grid-area: name;
    margin: 0;
    justify-self: left;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 20px;
    color: #000000;
    align-self: flex-end; }
  .list-card p {
    grid-area: description;
    font-size: 14px;
    line-height: 20px;
    color: #000000;
    margin: 0; }
  .list-card .date {
    grid-area: date;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: right;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    color: #000000; }

/*# sourceMappingURL=style.css.map */
